<table>
    <tr>
        <th>Date</th>
        <th>Application No.</th>
        <th>Name</th>
        <th>Address</th>
        <th>Contact No.</th>
        <th>Stage</th>
    </tr>

    {{#each this}}     
        <tr class="temp">
            <td><a  href="/admin/applications/{{applicationNo}}">{{startDate}}</a></td>
            <td id="applicationNo"><a  href="/admin/applications/{{applicationNo}}">{{applicationNo}}</a></td>
            <td><a  href="/admin/applications/{{applicationNo}}">{{name}}</a></td>
            <td><a  href="/admin/applications/{{applicationNo}}">{{address}}</a></td>
            <td><a  href="/admin/applications/{{applicationNo}}">{{contactNo}}</a></td>
            <td><a  id="stage" href="/admin/applications/{{applicationNo}}">{{applicationStage}}</a></td>
        </tr>
    {{/each}}
</table>
