<table>
    <tr>
        <th id="th-header">DATE</th>
        <th id="th-header">APPLICATION NO.</th>
        <th id="th-header">NAME</th>
        <th id="th-header">ADDRESS</th>
        <th id="th-header">CONTACT NO.</th>
        <th id="th-header">STAGE</th>
    </tr>

    {{#each this}}     
        <tr class="temp">
            <td><a  href="/admin/applications/{{applicationNo}}">{{startDate}}</a></td>
            <td id="applicationNo"><a  href="/admin/applications/{{applicationNo}}">{{applicationNo}}</a></td>
            <td><a  href="/admin/applications/{{applicationNo}}">{{name}}</a></td>
            <td><a  href="/admin/applications/{{applicationNo}}">{{address}}</a></td>
            <td><a  href="/admin/applications/{{applicationNo}}">{{contactNo}}</a></td>
            <td style="background: {{color}}"><a  id="stage" class="stage" href="/admin/applications/{{applicationNo}}">{{applicationStage}}</a></td>
        </tr>
    {{/each}}
</table>
