<div class = "left">
    <!-- Temporary placeholder -->
    <img src = "../images/logo/logo_placeholder.png" class = "user-img"> 

    <div class = "uname">username</div>
    <div class = "center-btn">
        <button class = "btn">Applications</button>
    </div>
    <div class = "center-btn">
        <button class = "btn">Complaints</button>
    </div>
</div>
<div class = "right">
    <!-- Template for all stage -->
    <div class = "applications">
        <label id = "applications">Applications</label>
        <input id = "search" type="text" placeholder="Search..">
    </div>
    
    <div class = "Filter">
        <label class = "filter-by">Filter by:</label>
            <select name="filter-options" id="filter-options">
                <option value="" selected>Select Stage</option>
                <option value="uploading-requirements" {{#case "uploading-requirements"}} selected {{/case}}>Uploading Requirements</option>
                <option value="adding-representative" {{#case "adding-representative"}} selected {{/case}}>Adding Representative</option>
                <option value="printing-and-preparing-documents" {{#case "printing-and-preparing-documents"}} selected {{/case}}>Printing and Preparing Documents</option>
                <option value="waiting-for-survey-schedule" {{#case "waiting-for-survey-schedule"}} selected {{/case}}>Waiting for Survey Schedule</option>
                <option value="pending-surveyor-visit" {{#case "pending-surveyor-visit"}} selected {{/case}}>Pending Surveyor Visit</option>
                <option value="purchasing-of-materials" {{#case "purchasing-of-materials"}} selected {{/case}}>Purchasing of Materials</option>
                <option value="pending-onsite-visit" {{#case "pending-onsite-visit"}} selected {{/case}}>Pending Onsite Visit</option>
                <option value="pending-installation" {{#case "pending-installation"}} selected {{/case}}>Pending Installation</option>
                <option value="completed" {{#case "completed"}} selected {{/case}}>Completed</option>
            </select>
    </div>
    <div class = "table-title">{{this.stage}}</div>

    <table class = "surveyor-visit">
        <tr>
            <th>Date</th>
            <th>Application No.</th>
            <th>Name</th>
            <th>Address</th>
            <th>Contact No.</th>
            <th>Stage</th>
        </tr>

        {{#each this.results}}

            <tr>
                <td>{{startDate}}</td>
                <td>{{applicationNo}}</td>
                <td>{{name}}</td>
                <td>{{address}}</td>
                <td>{{contactNo}}</td>
                <td>{{applicationStage}}</td>
            </tr>
        {{/each}}
    </table>

</div>

